<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('_head', { title: 'add article'}) %>
</head>
<body>
    <%- include('_nav') %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form role="form" action="/admin/articles/add" method="post">
                  <div class="form-group">
                    <label>Title</label>
                    <input type="text" name="title" class="form-control" placeholder="Title">
                  </div>
                  <div class="form-group">
                    <label>Content</label>
                    <textarea name="content"></textarea>
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <%- include('_footer') %>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
</body>
</html>