<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('_head') %>
</head>
<body>
    <%- include('_nav') %>
    <div class="container">
    </div><!-- /.container -->
    <%- include('_footer') %>
</body>
</html>